
<%= link_to new_subject_path, data: { turbo_stream: true }, class: "text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-md shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 " do %>
    Tambah Mata Pelajaran
<% end %>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-7">
    <% if @subjects.present? %>
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        No
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Mata Pelajaran
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Aksi
                    </th>
                </tr>
            </thead>
            <tbody>
                <% @subjects.each.with_index(1) do |s, index|  %>
                    <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                        <th scope="col" class="px-6 py-3">
                            <%= index %>
                        </th>
                        <td scope="row" class="px-6 py-4 font-medium text-gray-900 wditespace-nowrap dark:text-white">
                            <%= s.name %>
                        </td>
                        <td class="px-6 py-4 flex items-center space-x-2">
                            <%= link_to edit_subject_path(s), data: { turbo_stream: true } do %>
                                <svg class="w-6 h-6 text-yellow-400 dark:text-white hover:text-yellow-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/>
                                </svg>
                            <% end %>

                            <%= link_to subject_path(s), data: {
                                    turbo_method: :delete,
                                    turbo_confirm: "Anda yakin?"
                                } do %>
                                    <svg class="w-6 h-6 text-red-500 dark:text-white hover:text-red-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                                    </svg>
                            <% end %>
                            
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    <% else %>
        <div class="text-center text-2xl my-4 font-bold">
            Belum ada mata pelajaran
        </div>
    <% end %>
</div>


<!-- Main modal -->


<div id="new"></div>
<% if @show_modal %>
  <%= render 'new', subject: @subject %>
  <script>
    // Tampilkan modal secara otomatis ketika halaman dimuat
    document.addEventListener('DOMContentLoaded', function() {
      document.getElementById('mapel-modal').style.display = 'flex';
    });
  </script>
<% end %>
<div id="edit-modal"></div>
