<div class="flex flex-col md:flex-row justify-between items-start md:items-center mb-4 gap-8">
  <div class="w-full md:w-auto">
    <% if current_user&.waka_kurikulum? %>
      <%= link_to new_teacher_path, data: { turbo_stream: true }, class: "text-xs md:text-sm text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-md shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center md:mb-0 mb-2" do %>
        Tambah Guru
      <% end %>
    <% end %> 
  </div>
  <div class="w-full md:w-auto">
    <%= form_with url: teachers_path, method: :get, local: true, class: "flex w-full md:w-auto" do %>
      <input type="text" name="q" placeholder="Cari..." value="<%= params[:q] %>" class="px-3 py-2 border border-gray-300 rounded-l-md text-xs md:text-sm focus:outline-none focus:ring-1 focus:ring-blue-500 w-full md:w-auto" />
      <button type="submit" class="px-4 py-2 bg-blue-600 text-white text-xs md:text-sm rounded-r-md hover:bg-blue-700">
        Cari
      </button>
    <% end %>
  </div>
</div>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-7 p-1">
    <div class="flex justify-between items-center mb-2">
      <h2 class="text-sm md:text-lg font-bold text-gray-800 dark:text-white me-2">Daftar Guru</h2>
      <% if current_user&.waka_kurikulum? %>
        <!-- Tombol muncul di kanan hanya untuk layar md ke atas -->
        <div class="hidden md:flex space-x-1">
          <%= button_to activate_all_teachers_path, method: :patch,
              data: { turbo_confirm: "Aktifkan semua guru?" },
              class: "text-xs text-green-500 font-semibold underline" do %>
            Aktifkan Semua
          <% end %>

          <%= button_to deactivate_all_teachers_path, method: :patch,
              data: { turbo_confirm: "Non-aktifkan semua guru?" },
              class: "text-xs text-red-500 font-semibold underline" do %>
            Non-aktifkan Semua
          <% end %>
        </div>
      <% end %>
        
    </div>
    <% if current_user&.waka_kurikulum? %>
      <!-- Tombol muncul di bawah hanya untuk layar kecil -->
      <div class="flex md:hidden space-x-1 mt-1">
        <%= button_to activate_all_teachers_path, method: :patch,
            data: { turbo_confirm: "Aktifkan semua guru?" },
            class: "text-xs text-green-500 font-semibold underline" do %>
          Aktifkan Semua
        <% end %>

        <%= button_to deactivate_all_teachers_path, method: :patch,
            data: { turbo_confirm: "Non-aktifkan semua guru?" },
            class: "text-xs text-red-500 font-semibold underline" do %>
          Non-aktifkan Semua
        <% end %>
      </div>
    <% end %>

    
    <% if @teachers.present? %>
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3 w-8">
                        Kode Guru
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Nama Guru
                    </th>
                    <th scope="col" class="px-6 py-3">
                        JK
                    </th>
                    <th scope="col" class="px-6 py-3">
                        NIP/NIK
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Mata Pelajaran
                    </th>
                    <th>
                      Aktif
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Aksi
                    </th>
                </tr>
            </thead>
            <tbody class="text-xs md:text-sm">
                <% @teachers.each.with_index(1) do |t|  %>
                    <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                        <td scope="row" class="px-6 py-4 font-medium text-gray-900 wditespace-nowrap dark:text-white">
                            <%= t.teacher_code %>
                        </td>
                        <td scope="row" class="px-6 py-4 font-medium text-gray-900 wditespace-nowrap dark:text-white">
                            <%= t.nama %>
                        </td>
                        <td class="px-6 py-4 text-gray-900">
                            <%= t.jk %>
                        </td>
                        <td class="px-6 py-4 text-gray-900 text-nowrap">
                          <% if t.NIP.empty? %>
                            <%= t.NIK %>
                          <% else %>    
                            <%= t.NIP %>
                          <% end %> 
                        </td>
                        <td class="px-6 py-4 text-gray-900">
                            <%= t.subjects.map(&:name).join(', ') %>
                        </td>
                        <td>              
                          <% if t.is_active %>
                            <svg class="w-5 h-5 mx-auto text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                              viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                            </svg>
                            <% else %>
                            <svg class="w-5 h-5 mx-auto text-red-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
                            </svg>
                          <% end %>
                        </td>
                        <td class="px-6 py-4 flex items-center space-x-2">
                          <% if current_user&.waka_kurikulum? %>
                            <%= link_to edit_teacher_path(t), data: { turbo_stream: true } do %>
                                <svg class="w-6 h-6 text-yellow-400 dark:text-white transition hover:scale-110 hover:text-yellow-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/>
                                </svg>
                            <% end %>
                          <% end %>
                          <%= link_to teacher_path(t) do %>
                              <svg class="w-6 h-6 text-blue-500 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                  <path stroke="currentColor" stroke-width="2" d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z"/>
                                  <path stroke="currentColor" stroke-width="2" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                              </svg>
                          <% end %>
                        <% if current_user&.waka_kurikulum? %>
                            <%= link_to teacher_path(t), data: { turbo_method: :delete, turbo_confirm: "Anda yakin ingin menghapus?" } do %>
                                <!-- icon delete -->
                                <svg class="w-6 h-6 transition hover:scale-110 text-red-500 dark:text-white hover:text-red-700" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 7h14m-9 3v8m4-8v8
                                        M10 3h4a1 1 0 0 1 1 1v3H9V4
                                        a1 1 0 0 1 1-1ZM6 7h12v13
                                        a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                                </svg>
                            <% end %>
                          <% end %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    <% else %>
        <div class="text-center text-2xl my-4 font-bold">
            Tidak ada guru
        </div>
    <% end %>
</div>
<% if @teachers.total_pages > 1 %>
    <div class="mt-4 flex justify-center">
        <%= paginate @teachers %>
    </div>
<% end %>  

<!--
<div class="relative overflow-x-auto shadow-md p-1 sm:rounded-lg mt-12">
  <h2 class="text-sm md:text-lg font-bold mb-4 text-gray-800 dark:text-white">Guru Sedang Cuti</h2>
  <% cuti_teachers = Teacher.where(cuti: "true") %>
  <% if cuti_teachers.present? %>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">Kode Guru</th>
          <th scope="col" class="px-6 py-3">Nama Guru</th>
          <th scope="col" class="px-6 py-3">JK</th>
          <th scope="col" class="px-6 py-3">NIP/NIK</th>
          <th scope="col" class="px-6 py-3">Mata Pelajaran</th>
          <th scope="col" class="px-6 py-3">Aksi</th>
        </tr>
      </thead>
      <tbody class="text-xs md:text-sm">
        <% cuti_teachers.each do |t| %>
          <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
            <td class="px-6 py-4 font-medium text-gray-900 dark:text-white">
              <%= t.teacher_code %>
            </td>
            <td class="px-6 py-4 font-medium text-gray-900 dark:text-white">
              <%= t.nama %>
            </td>
            <td class="px-6 py-4 text-gray-900">
              <%= t.jk %>
            </td>
            <td class="px-6 py-4 text-gray-900">         
              <% if t.NIK.emtpy? %>
                  <%= t.NIP %>
                <% else %>    
                  <%= t.NIK %>
              <% end %>     
            </td>
            <td class="px-6 py-4 text-gray-900">
              <%= t.subjects.map(&:name).join(', ') %>
            </td>
            <td class="px-6 py-4 flex items-center space-x-2">
              <% if current_user&.waka_kurikulum? %>
                <%= link_to edit_teacher_path(t), data: { turbo_stream: true } do %>
                  <svg class="w-6 h-6 text-yellow-400 dark:text-white transition hover:scale-110 hover:text-yellow-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/>
                  </svg>
                <% end %>
              <% end %>
              <a href="">
                <svg class="w-6 h-6 text-blue-500 dark:text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-width="2" d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z"/>
                  <path stroke="currentColor" stroke-width="2" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                </svg>
              </a>
              <% if current_user&.waka_kurikulum? %>
                <%= link_to teacher_path(t), data: { turbo_method: :delete, turbo_confirm: "Anda yakin ingin menghapus?" } do %>
                  <svg class="w-6 h-6 transition hover:scale-110 text-red-500 dark:text-white hover:text-red-700" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                  </svg>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="text-center text-sm md:text-xl my-4 font-bold p-1">
      Tidak ada guru yang sedang cuti
    </div>
  <% end %>
</div>
-->



<div id="new"></div>
<div id="edit"></div>

<% if @show_new_modal %>
  <%= render 'new', teacher: @teacher, subjects: @subjects %>
<% end %>

<% if @show_edit_modal %>
  <%= render 'edit', teacher: @teacher, subjects: @subjects %>
<% end %>