<button type="button" data-modal-target="crud-modal" data-modal-toggle="crud-modal" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-md shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 ">
    Tambah Guru
</button>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-7">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    No
                </th>
                <th scope="col" class="px-6 py-3">
                    Nama Guru
                </th>
                <th scope="col" class="px-6 py-3">
                    JK
                </th>
                <th scope="col" class="px-6 py-3">
                    NIK
                </th>
                <th scope="col" class="px-6 py-3">
                    Spesialisasi Tugas Mata Pelajaran
                </th>
                <th scope="col" class="px-6 py-3">
                    Aksi
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                <th scope="col" class="px-6 py-3 text-gray-900">
                    1
                </th>
                <td scope="row" class="px-6 py-4 font-medium text-gray-900 wditespace-nowrap dark:text-white">
                    Apple MacBook Pro 17"
                </td>
                <td class="px-6 py-4 text-gray-900">
                    L
                </td>
                <td class="px-6 py-4 text-gray-900">
                    9937-7476-7865-0987
                </td>
                <td class="px-6 py-4 text-gray-900">
                    Laptop
                </td>
                <td class="px-6 py-4 flex items-center space-x-2">
                    <a href="http://" class="">
                        <svg class="w-6 h-6 text-yellow-400 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/>
                        </svg>

                    </a>
                    <a href="" class="">
                        <svg class="w-6 h-6 text-blue-500 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-width="2" d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z"/>
                            <path stroke="currentColor" stroke-width="2" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                        </svg>
                    </a>
                    <a href="" class="">
                        <svg class="w-6 h-6 text-red-500 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                        </svg>

                    </a>
                </td>
            </tr>
            <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                <th scope="col" class="px-6 py-3 text-gray-900">
                    1
                </th>
                <td scope="row" class="px-6 py-4 font-medium text-gray-900 wditespace-nowrap dark:text-white">
                    Apple MacBook Pro 17"
                </td>
                <td class="px-6 py-4 text-gray-900">
                    L
                </td>
                <td class="px-6 py-4 text-gray-900">
                    9937-7476-7865-0987
                </td>
                <td class="px-6 py-4 text-gray-900">
                    Laptop
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                </td>
            </tr>
            <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                <th scope="col" class="px-6 py-3 text-gray-900">
                    1
                </th>
                <td scope="row" class="px-6 py-4 font-medium text-gray-900 wditespace-nowrap dark:text-white">
                    Apple MacBook Pro 17"
                </td>
                <td class="px-6 py-4 text-gray-900">
                    L
                </td>
                <td class="px-6 py-4 text-gray-900">
                    9937-7476-7865-0987
                </td>
                <td class="px-6 py-4 text-gray-900">
                    Laptop
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Main modal -->
<div id="crud-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden mt-5 fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                    Tambah Guru
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="crud-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <%= form_with(url: password_resets_path, local: true) do |f| %>
            <div class="p-4 md:p-5">
                <div class="grid gap-4 mb-4 grid-cols-4">
                    <div class="col-span-2">
                        <%= f.label :nama, "Nama", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                        <%= f.text_field :nama, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", placeholder: "Masukan nama", required: true%>
                    </div>
                    <div class="col-span-2">
                        <%= f.label :nik, "NIK", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                        <%= f.text_field :nik, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", placeholder: "Masukan NIK", required: true %>
                    </div>
                    <div class="col-span-2">
                        <%= f.label :nuptk, "NUPTK", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                        <%= f.text_field :nuptk, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", placeholder: "Masukan NUPTK", required: true %>
                    </div>
                    <div class="col-span-2">
                        <%= f.label :spesialisasi, "Spesialisasi Tugas Mata Pelajaran", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                        <%= f.select :spesialisasi,
                            options_for_select([
                                ['Pilih mata pelajaran', ''],
                                ['TV/Monitors', 'TV'],
                                ['PC', 'PC'],
                                ['Gaming/Console', 'GA'],
                                ['Phones', 'PH']
                            ], selected: params[:spesialisasi]),
                            {},
                            class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" 
                        %>
                    </div>
                    <div class="col-span-2">
                        <%= f.label :tgl_lahir, "Tempat Lahir", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                        <%= f.text_field :tempat_lahir, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", placeholder: "Masukan tempat lahir", required: true %>
                    </div>
                    <div class="col-span-2">
                        <%= f.label :tgl_lahir, "Tanggal Lahir", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                        <%= f.text_field :tgl_lahir, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", placeholder: "Masukan tanggal lahir", required: true %>
                    </div>
                    <div class="col-span-2">
                        <%= f.label :agama, "Agama", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                        <%= f.select :agama,
                            options_for_select([
                                ['Islam', 'islam'],
                                ['Kristen', 'kristen'],
                                ['Hindu', 'hindu'],
                                ['Buddha', 'buddha'],
                                ['Konghucu', 'konghucu']
                            ], selected: params[:agama]),
                            {},
                            class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" 
                        %>
                    </div>
                    <div class="col-span-2">
                        <%= f.label :jk, "Jenis Kelamin", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                        <%= f.select :jk,
                            options_for_select([
                                ['Laki-laki', 'L'],
                                ['Perempuan', 'P'],
                            ], selected: params[:agama]),
                            {},
                            class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" 
                        %>
                    </div>
                    <div class="col-span-4">
                        <%= f.label :alamat, "Alamat", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                        <%= f.text_area :alamat, class: "block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "Masukan alamat", required: true %>
                    </div>
                    <div class="col-span-4">
                        <span class="block mb-2 text-base font-medium text-gray-900 dark:text-white">Pendidikan Terakhir</span>
                    </div>
                    <div class="col">
                        <%= f.label :jenjang, "Jenjang", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                        <%= f.select :jenjang,
                            options_for_select([
                                ['Strata 1', 'S1'],
                                ['Perempuan', 'P'],
                            ], selected: params[:agama]),
                            {},
                            class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" 
                        %>
                    </div>
                    <div class="col-span-2">
                        <%= f.label :program_studi, "Program Studi", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                        <%= f.text_field :program_studi, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", placeholder: "Masukan program studi", required: true %>
                    </div>
                    <div class="col">
                        <%= f.label :tahun_lulus, "Tahun Lulus", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                        <%= f.text_field :tahun_lulus, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", placeholder: "Masukan tahun", required: true %>
                    </div>
                </div>
                <%= f.button type: :submit, class: "text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" do %>
                    <svg class="me-1 -ms-1 w-5 h-5 text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                    Tambah guru
                <% end %>
            </div>
            <% end %>
        </div>
    </div>
</div> 