<!-- app/views/subjects/_edit_modal.html.erb -->
<div id="edit-modal">
  <div id="mapel-modal" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div class="relative p-4 w-full max-w-md">
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <div class="flex items-center justify-between p-4 border-b">
          <h3 class="text-lg font-semibold">Edit Mata Pelajaran</h3>
          <button type="button" class="text-gray-400 hover:text-gray-900" onclick="closeModal()">
            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
            </svg>
          </button>
        </div>
        <%= form_with(model: time, url: time_block_path(time), method: :patch) do |f| %>
          <div class="p-4">
            <div class="grid gap-4 mb-4 grid-cols-4">
              <div class="col">
                  <%= f.label :order, "Jam ke-", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                  <%= f.text_field :order, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", placeholder: "1" %>
              </div>
              <div class="col-span-3">
                  <%= f.label :time, "Waktu", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                  <%= f.text_field :time, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", placeholder: "07:30 - 08:00" %>
              </div>
            </div>
            <%= f.submit "Simpan", class: "text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  function closeModal() {
    document.getElementById('mapel-modal').style.display = 'none';
  }
</script>