<% if current_user&.waka_kurikulum? %>
  <%= link_to new_time_block_path, data: { turbo_stream: true },
        class: "text-xs md:text-sm text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700
                hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300
                dark:focus:ring-blue-800 shadow-md shadow-blue-500/50 dark:shadow-lg
                dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5
                text-center me-2 mb-2" do %>
    Tambah Jam Pelajaran
  <% end %>
<% end %>


<div class="flex justify-between items-center mb-2 mt-8">
  <h2 class="text-sm md:text-lg font-bold text-gray-800 dark:text-white me-2">Daftar Jam Pelajaran</h2>
  <% if current_user&.waka_kurikulum? %>
    <!-- Tombol muncul di kanan hanya untuk layar md ke atas -->
    <div class="hidden md:flex space-x-1">
      <%= button_to activate_all_time_blocks_path, method: :patch,
          data: { turbo_confirm: "Aktifkan semua jam pelajaran?" },
          class: "text-xs text-green-500 font-semibold underline" do %>
        Aktifkan Semua
      <% end %>

      <%= button_to deactivate_all_time_blocks_path, method: :patch,
          data: { turbo_confirm: "Non-aktifkan semua jam pelajaran?" },
          class: "text-xs text-red-500 font-semibold underline" do %>
        Non-aktifkan Semua
      <% end %>
  </div>
  <% end %>
</div>

<% if current_user&.waka_kurikulum? %>
  <!-- Tombol muncul di bawah hanya untuk layar kecil -->
  <div class="flex md:hidden space-x-1 mt-1">
    <%= button_to activate_all_time_blocks_path, method: :patch,
        data: { turbo_confirm: "Aktifkan semua jam pelajaran?" },
        class: "text-xs text-green-500 font-semibold underline" do %>
      Aktifkan Semua
    <% end %>

    <%= button_to deactivate_all_time_blocks_path, method: :patch,
        data: { turbo_confirm: "Non-aktifkan semua jam pelajaran?" },
        class: "text-xs text-red-500 font-semibold underline" do %>
      Non-aktifkan Semua
    <% end %>
  </div>
<% end %>
<div class="space-y-12">
  <% @times_grouped.each do |session, days_hash| %>
    <section>
      <h2 class="text-base md:text-lg capitalize font-bold mb-4 text-gray-800 dark:text-white">
        <%= session %>
      </h2>

      <div class="grid lg:grid-cols-2 grid-cols-1 gap-4">
        <% days_hash.each do |day, blocks| %>
          <div class="rounded shadow-md p-4 bg-white dark:bg-gray-800">
            <h3 class="text-base md:text-lg font-semibold mb-2 text-gray-700 dark:text-gray-200">
              <%= day.name %>
            </h3>

            <div class="relative overflow-x-auto shadow-sm sm:rounded-lg">
              <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                  <tr>
                    <th class="px-6 py-3">Jam ke-</th>
                    <th class="px-6 py-3">Waktu</th>
                    <th class="px-6 py-3">Aktif</th>
                    <% if current_user&.waka_kurikulum? %>
                      <th class="px-6 py-3">Aksi</th>
                    <% end %>
                  </tr>
                </thead>
                <tbody class="text-xs md:text-sm">
                  <% blocks.each do |t| %>
                    <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                      <td class="px-6 py-3 font-medium text-gray-900 dark:text-white"><%= t.order %></td>
                      <td class="px-6 py-3 text-nowrap font-medium text-gray-900 dark:text-white"><%= t.time %></td>
                      <td>              
                          <% if t.is_active %>
                            <svg class="w-5 h-5 mx-auto text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                              viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                            </svg>
                            <% else %>
                            <svg class="w-5 h-5 mx-auto text-red-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
                            </svg>
                          <% end %>
                        </td>
                      <% if current_user&.waka_kurikulum? %>
                        <td class="px-6 py-3 flex space-x-2">
                          <%= link_to edit_time_block_path(t), data: { turbo_stream: true } do %>
                            <!-- icon edit -->
                            <svg class="w-6 h-6 text-yellow-400 dark:text-white transition hover:scale-110 hover:text-yellow-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91
                                  a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565
                                  6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/>
                            </svg>
                          <% end %>
                          <%= link_to time_block_path(t), data: { turbo_method: :delete, turbo_confirm: "Anda yakin ingin menghapus?" } do %>
                            <!-- icon delete -->
                            <svg class="w-6 h-6 transition hover:scale-110 text-red-500 dark:text-white hover:text-red-700" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M5 7h14m-9 3v8m4-8v8
                                  M10 3h4a1 1 0 0 1 1 1v3H9V4
                                  a1 1 0 0 1 1-1ZM6 7h12v13
                                  a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                            </svg>
                          <% end %>
                        </td>
                     <% end %>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>
      </div>
    </section>
  <% end %>
</div>

<div id="new"></div>
<div id="edit-modal"></div>

<% if @show_new_modal %>
  <%= render 'new' %>
<% end %>

<% if @show_edit_modal %>
  <%= render 'edit_modal' %>
<% end %>
